div{
    width: 200px;
    height: 200px;
}
.satu{
    background-color: lightgreen;
}
.dua{
    background-color: violet;
}
.tiga{
    background-color: gold;
}

/* 

Bagaimana caranya jika kita hanya ingin memindahkan/menggeser salah satu dari kotak diatas namun tidak merubah posisi elemen html lainnya ?  

itulah fungsi position yaitu menggeser sebuah elemen tanpa mempengaruhi elemen di sekitarnya.

Value position ada 4 :
1. static (default)
2. relative
3. absolute
4. fixed

catatan :
1. static
   - menggunakan position selain static (non-static), akan membuat sebuah elemen menjadi seolah-olah berbeda dimensi dari elemen lainnya (misalnya saja relative)
   - elemen yang diberi position selain static dapat menggunakan properti top, left, bottom dan right untuk mengatur posisinya.

2. relative 
   - ketika kita menggerakkan elemen dengan posisi relative (menggunakan properti top,left,bottom dan right), ruang awal yang di tempati oleh elemen tersebut masih ada walaupun elemen sudah bergerak
   
3. 
*/
