.hello:link {
    color: orange;
}
.hello:hover {
    font-family: arial;
    font-size: 20px;
    color: blueviolet;
}
.hello:active{
    font-style: italic;
}

.hello:visited{
    color: black;
}

li:first-child a{
    color: green;
}